<aside class="sidebar">
  <div class="menu-title">{{ 'instrument' | translate }}</div>
  <nav class="nav-menu">
    <a
      *ngFor="let item of instruments"
      [routerLink]="['/pricing', item.code]"
      routerLinkActive="active"
      class="nav-button"
    >
      {{ item.labelKey | translate }}
    </a>

    <div class="menu-divider"></div>

    <div class="menu-title">{{ 'financial_calculators' | translate }}</div>
    <a
      routerLink="/calculators"
      routerLinkActive="active"
      class="nav-button"
    >
      {{ 'financial_calculators' | translate }}
    </a>
  </nav>
</aside>
